:root {
  --color1:#333;
  --color3:white;
  --color2: rgb(238, 206, 148);
  --color4: rgb(92, 10, 92);

}

.topnav {
    background-color: var(--color4);
    color: var(--color3);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.topnav a {
    float: left;
    color: inherit;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
  background-color: var(--color2);
  color: var(--color1);
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.dropbutton {
  font-size: 20px;
  font-family: inherit;
  border: none;
  outline: none;
  color: inherit;
  padding: 15px 15px;
  background-color: inherit;
  margin: 0;
}

.dropbutton:hover {
  background-color: var(--color2);
  color: var(--color1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color4);
  color: var(--color3);
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: var(--color2);
  color: var(--color1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  text-align: center;
  font-family: cursive;
  color: var(--color2);
  background-color: var(--color1);
  width: 50%;
  margin:auto ;
  justify-content: center;
}


ul {
  list-style-type:none;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  color: inherit;
  overflow: auto;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25%;
  padding: 2% 5%;
  transition: 0.3s;
}

.tab:hover {
  filter: invert(25%);
}

.tab.active {
  filter: invert(1);
}

.tabcontent {
  display: none;
  width: 100%;
  border-top: none;
}

.tabimage {
  height: 150px;
  width: auto;
}

#tab_applicationGame {
  background-image: url(../images/dice.jpg);
  background-size: contain;
  background-repeat: round round;
}

#tab_snake {
  background-image: url(../images/snake_background_1.jpg);
  background-size: contain;
  background-repeat: round round;
}

#tab_fish {
  background-image: url(../images/fish_background_2.jpg);
  background-size: contain;
  background-repeat: round round;
}

#tab_bomberman {
  background-image: url(../images/bomberman_background_2.jpg);
  background-size: contain;
  background-repeat: round round;
    color: var(--color1);

}

#tab_minireact {
  background-image: url(../images/todo_background.jpg);
  background-size: contain;
  color: var(--color1);
}

#tab_gravLensing {
  background-image: url(../images/lensing_background.jpeg);
  background-size: contain;

}

#tab_socialNetwork {
  background-image: url(../images/social_network_background.jpg);
  background-size: contain;

}

#tab_aicamp {
  background-image: url(../images/aicamp_background_2.png);
  background-size: contain;
}

img {
  max-width: 100%;
  border-radius: 8px;
}