.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
  text-align: center;
  color: lightgray;
  background-color: #333;
  width: 50%;
  margin:auto ;
  /* display: flex; */
  justify-content: center;
  /* background-image: url(../images/milkyway.jpg); */
  /* background-size: cover; */
}

ul {
  list-style-type:none;
}

.tab {
  overflow: hidden;
  /* border: 14px solid red; */
  /* background-color: #04AA6D; */
  display: flex;
  justify-content: center;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 30px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: purple;
}

.tab button.active {
  background-color: orange;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  /* width: 50%; */
  /* border: 10px solid brown; */
  border-top: none;

}

#tab_applicationGame {
  background-image: url(/images/dice.jpg);
  background-size: contain;
  color: lightyellow;

}

#tab_snake {
  background-image: url(/images/snake_background_1.jpg);
  background-size: contain;
  color: white
}

#tab_fish {
  background-image: url(/images/fish_background_2.jpg);
  background-size: contain;
  color: pink;
}

#tab_bomberman {
  background-image: url(/images/bomberman_background_2.jpg);
  background-size: contain;
  color: cyan;

}

#applicationGame {
  background-image: url(/images/dice.jpg);
  background-size: contain;
  color: white;
}

#snake {
  background-image: url(/images/snake_background_1.jpg);
  background-size: contain;
  color: white
}

#fish {
  background-image: url(/images/fish_background_2.jpg);
  background-size: contain;
  color: pink;
}

#bomberman {
  background-image: url(/images/bomberman_background_2.jpg);
  background-size: contain;
  color: cyan;

}
#tab_minireact {
  background-image: url(/images/todo_background.jpg);
  background-size: contain;
  color: black;
}

#tab_gravLensing {
  background-image: url(/images/lensing_background.jpeg);
  background-size: contain;
  color: magenta
}

#tab_socialNetwork {
  background-image: url(/images/social_network_background.jpg);
  background-size: contain;
  color: white;
}

#tab_aicamp {
  background-image: url(/images/aicamp_background_2.png);
  background-size: contain;
  color: yellow;
}

#minireact {
  background-image: url(/images/todo_background.jpg);
  background-size: contain;
  color: black;
}

#gravLensing {
  background-image: url(/images/lensing_background.jpeg);
  background-size: contain;
  color: magenta
}

#socialNetwork {
  background-image: url(/images/social_network_background.jpg);
  background-size: contain;
  color: white;
}

#aicamp {
  background-image: url(/images/aicamp_background_2.png);
  background-size: contain;
  color: yellow;
}
